:root {
    --title-text-color: #2E2F42;
    --body-text-color: #434455;
    --active-color: #4D5AE5;
    --acsent-color: #404BBF;
    --white-text-color: #ffffff;
    --cornflawer-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --secondary-font: 'Raleway', sans-serif;
    --basic-margin-text: 8px;
    --basic-gap: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Roboto', sans-serif;
    background-color: var(--white-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.conteiner {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

   /* Header */

.header-nav .link {
    color: var(--title-text-color);
    font-weight: 500; 
   }

.header { 
    background-color: var(--white-text-color);
    border-bottom: 1px solid var(--cornflawer-color);
    padding: 24px 0;
}
 
.header .conteiner {
    display: flex; 
}  

.header-menu {
    display: flex;
    align-items: center;
    
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-menu .logo { 
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
    margin-right: 76px;
}

.logo-second { 
    color: var(--title-text-color);
}

.header-item {
   
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--acsent-color);
}

.header-nav .link.current {
    color: var(--acsent-color);
}
.address-list {
    margin-left: auto;
}
.header-address {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.address-link {
    margin-left: auto;
} 

.address {
    font-style: normal;
    color: var(--body-text-color);
}

.address link {
    margin-left: auto;
}

.address:hover,
.address:focus {
    color: var(--acsent-color);
}

   /* Hero section */
.hero {
    background-color: var(--title-text-color);
    padding: 188px 0;
}
.hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-text-color);
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

/* Batton */

.btn {
    min-width: 169px;
    min-height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background: var(--active-color);
    color: var(--white-text-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    padding: 16px 32px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.hero .btn:hover,
.hero .btn:focus {
    background: var(--acsent-color);
}
/* Section 1 */
.features {
    padding: 120px 0;
    
}
.features .conteiner {
    margin-left: auto;
    margin-right: auto;
       
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature {
    display: flex;
    gap: var(--basic-gap)
}

.feature > .feature-list {
    flex-basis: calc(100% / 4);

}

.feature .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
    margin-bottom: var(--basic-margin-text);
}

.feature .text {
    color: var(--body-text-color); 
    
}

/* Section 2 */
.functions {
    padding-bottom: 120px;
}

.functions-list {
    display: flex;
    gap: var(--basic-gap);
   
    max-width: 100%;
    height: auto;
}

.functions .title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

/* Section 3 */
.team {
    background-color: var(--cloud-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team .conteiner {

}
.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}
.team-list {
    display: flex;
    gap: var(--basic-gap);
    text-align: center;
}
.team-item {
    background: var(--white-text-color);
    width: calc((100% - 72px) / 4)
}
.team-sizes {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-list .subtitle {
    margin-bottom: var(--basic-margin-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.team-list .text {
    color: var(--body-text-color);    
}
  

/* Footer */
.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
    margin-bottom: 16px;
}
.logo-footer-second {
    color: var(--cloud-color); 
}
    
.footer-text {
    color: var(--cornflawer-color);
    max-width: 264px;
    
}

           /* Portfolio */
 /* Button */
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}
.conteiner-filters {
    

}
.filters-list {
    display: flex;
    justify-content: center;
    gap: var(--basic-gap);
    margin-bottom: 72px;
}
.filters-item-btn {
}

.text-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--acsent-color); 
    background: var(--cloud-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--cornflawer-color);
    border-radius: 4px;
}
.text-btn:hover,
.text-btn:focus {
    background: var(--acsent-color);
    color: var(--white-text-color);
    border-color: var(--acsent-color);
} 
/* Foto */
.portfolio {
    background: var(--white-text-color);
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-card {
    background: var(--white-text-color);
    width: calc((100% - 48px) / 3);
}
.portfolio-link {
    text-decoration: none;
    
}
.portfolio-foto {
    display: block;
    max-width: 100%;
    height: auto;
    
}
.card-text {
    padding: 32px 16px;
    border: 1px solid var(--cornflawer-color);
    border-top: none;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    padding-left: 16;
    margin-bottom: var(--basic-margin-text);
}
.card-text .text {
    color: var(--body-text-color);
    
}




